<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.androdyne.example"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" />

    <!-- Required for submitting stack traces. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- We just use the packaged Application class, but you can also derive
         from it. -->
    <application android:label="@string/app_name"
                 android:name="org.androdyne.Application"
        >
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        <!-- You can name the file in res/xml/handler.xml differently, but
             the name must not change, and the tag must appear in the
             main/launcher Activity. -->
        <meta-data android:name="org.androdyne.exception-handler"
                   android:resource="@xml/androdyne"
            />
        </activity>

    </application>
</manifest> 
